body {
    background: url(/blackhared/uploads/3.jpg); // 可以是路径也可以是链接
    background-repeat: repeat; // 重复
    background-attachment: no-fixed; // 非固定住背景图片
    background-position: 50% 50%; // 图片位置：居中
}
//博客内容透明化
//文章内容的透明度设置
.content-wrap {
  opacity: 1;
}
//.main-inner {
   // margin-top: 60px;
   // padding: 60px 60px 60px 60px;

    //opacity: 0.8;
//}

.post-block {
	background: rgba(255,255,255,0.7) none repeat scroll !important;
}


//侧边框的透明度设置
.sidebar {
  opacity: 0.8;
}


//.comments.utterances-container {
// background: rgba(255,255,255,0.8);
//}

//菜单栏的透明度设置
.header-inner {
  background: rgba(255,255,255,0.8);
}

//搜索框（local-search）的透明度设置
.popup {
   opacity: 0.9;
}
